.process {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    counter-reset: custom-counter;
    list-style: none;

    @include mobile {
      row-gap: 20px;
    }
  }

  &__item {
    counter-increment: custom-counter;
  }

  &__accordion {
    --indicatorVerticalRotate: 90deg;

    padding: 40px 60px;
    background-color: var(--color-gray);
    border: var(--border);
    border-radius: var(--border-radius-big);
    box-shadow: var(--shadow);
    transition-duration: var(--transition-duration);

    @include mobile {
      padding: 30px;
    }

    @include hover {
      background-color: var(--color-accent);
    }

    &[open] {
      --indicatorVerticalRotate: 0deg;

      background-color: var(--color-accent);
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;
      cursor: pointer;
      user-select: none;

      @include mobile {
        column-gap: 28px;
      }
    }

    &-title {
      @include fluid-text(18, 30);
      display: flex;
      align-items: center;
      column-gap: 25px;

      @include mobile {
        column-gap: 33px;
      }

      &::before {
        content: "0" counter(custom-counter);
        font-size: 2em;

        @include mobile {
          font-size: 30px;
        }
      }
    }

    &-indicator {
      @include flex-center(false);
      @include square(58px);

      position: relative;
      flex-shrink: 0;
      background-color: var(--color-gray);
      border: var(--border);
      border-radius: 50%;

      @include mobile {
        width: 30px;
      }

      &::before,
      &::after {
        @include abs-center;

        content: "";
        width: 45%;
        height: 10%;
        background-color: var(--color-dark);
      }

      &::after {
        rotate: var(--indicatorVerticalRotate);
        transition-duration: var(--transition-duration);
      }
    }

    &-body {
      margin-top: 30px;
      padding-top: 30px;
      border-top: var(--border);
    }
  }
}
